---
export interface Props {
  propBanner:any[];
  ind:number;  
}

const {propBanner, ind} = Astro.props;   
---
<section>
  <div class="flex mt-12">
  {propBanner[ind].image.map((image)=>{
    return(
          <div class="promo-container">
            <img src={image.href} alt={image.alt} class={`m-auto w-11/12 flex cursor-pointer`}>
        </div>
    )
})} 
</div>
</section>
